.App {
  width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
}

.months{
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: repeat(12, 150px);
  /* grid-template-rows: 200px 200px;
  grid-template-columns: repeat(6, 180px);
  grid-column-gap: 24px; */
  grid-row-gap: 30px;
}