.App {
  width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
}

.months{
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: repeat(12, 150px);
  grid-row-gap: 30px;
}